@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.container {
  @apply w-11/12 mx-auto;
}
.paragraph-sizing {
  @apply text-base leading-[24px] lg:leading-[32px] lg:text-xl 2xl:leading-[48px] 2xl:text-3xl;
}

.swiper-pagination-bullet {
  background-color: black !important ;
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-radius: 50% !important;
}

.swiper-pagination-bullet-active {
  width: 1.7rem !important;
  height: 1.7rem !important;
}

.footer-social-icons {
  @apply w-[55px] h-[55px] lg:w-[70px] lg:h-[70px] 2xl:w-[85px] 2xl:h-[85px] hover:scale-110;
}
.hardTextClip {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.bg-grandient {
  background: linear-gradient(
    99.12deg,
    #4882f1 -18.99%,
    #4ea3f7 51.3%,
    #25f0b3 140.75%
  );
}
.animated-text {
  height: 64px;
  border: 0px solid #333;
  overflow: hidden;
}
.animated-text span {
  position: relative;
  animation: textChange 6s ease infinite;
}


@media screen and (min-width: 900px) {
  .animated-text {
    height: 95px;
    line-height: 95px;
  }
}

@media screen and (min-width: 1600px) {
  .animated-text {
    height: 130px;
    line-height: 130px;
  }
}

@keyframes textChange {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  35% {
    top: -56px;
  }
  70% {
    top: -56px;
  }
  75% {
    top: -113px;
  }
  95% {
    top: -113px;
  }
}

@media screen and (min-width: 900px) {
  @keyframes textChange {
    0%,
    100% {
      top: 0;
    }
    20% {
      top: 0;
    }
    35% {
      top: -100px;
    }
    70% {
      top: -100px;
    }
    75% {
      top: -200px;
    }
    95% {
      top: -200px;
    }
  }
}
@media screen and (min-width: 1600px) {
  @keyframes textChange {
    0%,
    100% {
      top: 0;
    }
    20% {
      top: 0;
    }
    35% {
      top: -130px;
    }
    70% {
      top: -130px;
    }
    75% {
      top: -260px;
    }
    95% {
      top: -260px;
    }
  }
}
